#completedTaskList {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.actions-list {
    text-align: left;
}

.completed {
    text-decoration: line-through;
}