#completedTaskList {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.actions-list {
    text-align: left;
}

.completed {
    text-decoration: line-through;
}

.action-item {
    display: flex;
}

.task-actions {
    margin-left: auto;
    margin-right: 1%;
}

#confirmationButtons {
    display: none;
}