html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
}

.page-header {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    /* align-self: flex;
    align-items: flex-end; */
}

.center {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: auto;
    max-width: 50%;
    min-height: 90%;
    border: 3px solid green;
    padding-bottom: 5px;
}

.page-title {
    text-align: center;
    color: lightblue;
}

.author-signature {
    text-align: center;
}

.message-box {
    position: fixed;
    right: 20px;
    top: 20px;
    width: 300px;
    height: auto;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #ccc;
    padding: 10px;
    display: none;
}

.message {
    display: block;
}

.actions-buttons {
    display: flex;
    margin-top: 1%;
    justify-content:flex-end;
}